<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
  <form method="post" action="">
    <input type="hidden" name="performanceId" th:value="${performanceInfo.performanceId}">
    <div class="row">
      <div class="col">
        예약자 성함: <input type="text" name="name" th:value="${userInfo.name}"
          style="border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;" readonly>
      </div>
    </div>
    <div class="row">
      <div class="col">
        예약자 휴대전화 번호: <input type="text" name="phoneNumber" th:value="${userInfo.phoneNumber}"
          style="border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;" readonly>
      </div>
    </div>
    <div class="row">
      <div class="col">
        공연 이름: <input type="text" name="performanceName" th:value="${performanceInfo.performanceName}"
          style="border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;" readonly>
      </div>
    </div>
    <div class="row">
      <div class="col">
        공연 회차: <input type="text" name="performanceRound" th:value="${performanceRound}"
          style="border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;" readonly>회
      </div>
    </div>
    <div class="row">
      <div class="col">

      </div>
    </div>
    <div class="row">
      <div class="col">
        좌석 번호: <input type="text" name="seat" th:value="${seat}"
          style="border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;" readonly>
        <input type="text" name="line" th:value="${line}"
          style="border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;" readonly>
      </div>
    </div>
    <div class="row">
      <div class="col">

      </div>
    </div>




  </form>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"
    defer></script>
</body>

</html>