services:
  mysql:
    user: 501:20
    image: mysql:8.0.33
    ports:
      - 13306:3306
    command:
      - '--character-set-server=utf8mb4'
      - '--collation-server=utf8mb4_unicode_ci'
    env_file:
      - .env  # 보안을 위해 MySql 설정 로컬 파일로 분리  ./.env  # 보안을 위해 MySql 설정 로컬 파일로 분리
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}  # Mysql 유저 추가
      MYSQL_PASSWORD: ${MYSQL_PASSWORD} # Mysql 유저 비밀번호 추가
      TZ: ${TZ}  # 타임존 추가
    volumes: # Mysql 저장소 경로 변경
      - ${VOLUME_PATH}:/var/lib/mysql:rw
      - ${initdb_PATH}:/docker-entrypoint-initdb.d