spring:
  datasource:
    username: 계정명
    password: 암호
  mail:
    host: smtp.naver.com
    port: 465
    username: 이메일@naver.com
    password: 비밀번호
    properties:
        mail.smtp.auth: true
        mail.smtp.ssl.enable: true
        mail.smtp.ssl.trust: smtp.naver.com
        mail.smtp.starttls.enable: true